*.pyc
*~
__pycache__
.venv
db.sqlite3
/static
.DS_Store
media/*
!media/applications
media/applications/*
!media/applications/documents
media/applications/documents/*
!media/applications/documents/images
media/applications/documents/images/*
!media/applications/documents/images/none
media/applications/documents/images/none/*
!media/applications/documents/images/none/default.svg
!media/applications/profiles
media/applications/profiles/*
!media/applications/profiles/images
media/applications/profiles/images/*
!media/applications/profiles/images/none
media/applications/profiles/images/none/*
!media/applications/profiles/images/none/default.svg
!media/applications/contact_points
media/applications/contact_points/*
!media/applications/contact_points/images
media/applications/contact_points/images/*
!media/applications/contact_points/images/none
media/applications/contact_points/images/none/*
!media/applications/contact_points/images/none/default.svg
!media/services
media/services/*
!media/services/documents
media/services/documents/*
!media/services/documents/images
media/services/documents/images/*
!media/services/documents/images/none
media/services/documents/images/none/*
!media/services/documents/images/none/default.svg
!media/services/profiles
media/services/profiles/*
!media/services/profiles/images
media/services/profiles/images/*
!media/services/profiles/images/none
media/services/profiles/images/none/*
!media/services/profiles/images/none/default.svg
!media/services/contact_points
media/services/contact_points/*
!media/services/contact_points/images
media/services/contact_points/images/*
!media/services/contact_points/images/none
media/services/contact_points/images/none/*
!media/services/contact_points/images/none/default.svg
!media/services/end_points
media/services/end_points/*
!media/services/end_points/images
media/services/end_points/images/*
!media/services/end_points/images/none
media/services/end_points/images/none/*
!media/services/end_points/images/none/default.svg
!media/services/technical_interfaces
media/services/technical_interfaces/*
!media/services/technical_interfaces/images
media/services/technical_interfaces/images/*
!media/services/technical_interfaces/images/none
media/services/technical_interfaces/images/none/*
!media/services/technical_interfaces/images/none/default.svg
!media/services/technical_interfaces/documents
media/services/technical_interfaces/documents/*
!media/services/technical_interfaces/documents/images
media/services/technical_interfaces/documents/images/*
!media/services/technical_interfaces/documents/images/none
media/services/technical_interfaces/documents/images/none/*
!media/services/technical_interfaces/documents/images/none/default.svg
!media/participants
media/participants/*
!media/participants/documents
media/participants/documents/*
!media/participants/documents/images
media/participants/documents/images/*
!media/participants/documents/images/none
media/participants/documents/images/none/*
!media/participants/documents/images/none/default.svg
!media/participants/profiles
media/participants/profiles/*
!media/participants/profiles/images
media/participants/profiles/images/*
!media/participants/profiles/images/none
media/participants/profiles/images/none/*
!media/participants/profiles/images/none/default.svg
!media/participants/contact_points
media/participants/contact_points/*
!media/participants/contact_points/images
media/participants/contact_points/images/*
!media/participants/contact_points/images/none
media/participants/contact_points/images/none/*
!media/participants/contact_points/images/none/default.svg
!media/swim
media/swim/*
!media/swim/reference_documents
# media/swim/reference_documents/*
!media/swim/reference_documents/images
# media/swim/reference_documents/images/*
!media/swim/reference_documents/images/none
media/swim/reference_documents/images/none/*
!media/swim/reference_documents/images/none/default.svg
!media/infrastructure
media/infrastructure/*
!media/infrastructure/profiles
media/infrastructure/profiles/*
!media/infrastructure/profiles/images
media/infrastructure/profiles/images/*
!media/infrastructure/profiles/images/none
media/infrastructure/profiles/images/none/*
!media/infrastructure/profiles/images/none/default.svg
!media/infrastructure/reference_documents
# media/infrastructure/reference_documents/*
!media/infrastructure/reference_documents/images
# media/infrastructure/reference_documents/images/*
!media/infrastructure/reference_documents/images/none
media/infrastructure/reference_documents/images/none/*
!media/infrastructure/reference_documents/images/none/default.svg
!media/infrastructure/technical_interface_bindings
media/infrastructure/technical_interface_bindings/*
!media/infrastructure/technical_interface_bindings/images
media/infrastructure/technical_interface_bindings/images/*
!media/infrastructure/technical_interface_bindings/images/none
media/infrastructure/technical_interface_bindings/images/none/*
!media/infrastructure/technical_interface_bindings/images/none/default.svg
!media/infrastructure/infrastructure_description
media/infrastructure/infrastructure_description/*
!media/infrastructure/infrastructure_description/images
media/infrastructure/infrastructure_description/images/*
!media/infrastructure/infrastructure_description/images/none
media/infrastructure/infrastructure_description/images/none/*
!media/infrastructure/infrastructure_description/images/none/default.svg
!media/infrastructure/infrastructure_description/documents
media/infrastructure/infrastructure_description/documents/*
!media/infrastructure/infrastructure_description/documents/images
media/infrastructure/infrastructure_description/documents/images/*
!media/infrastructure/infrastructure_description/documents/images/none
media/infrastructure/infrastructure_description/documents/images/none/*
!media/infrastructure/infrastructure_description/documents/images/none/default.svg
!media/infrastructure/data_standards
media/infrastructure/data_standards/*
!media/infrastructure/data_standards/profiles
media/infrastructure/data_standards/profiles/*
!media/infrastructure/data_standards/profiles/images
media/infrastructure/data_standards/profiles/images/*
!media/infrastructure/data_standards/profiles/images/none
media/infrastructure/data_standards/profiles/images/none/*
!media/infrastructure/data_standards/profiles/images/none/default.svg
!media/infrastructure/data_standards/documents
media/infrastructure/data_standards/documents/*
!media/infrastructure/data_standards/documents/profiles
media/infrastructure/data_standards/documents/profiles/*
!media/infrastructure/data_standards/documents/profiles/images
media/infrastructure/data_standards/documents/profiles/images/*
!media/infrastructure/data_standards/documents/profiles/images/none
media/infrastructure/data_standards/documents/profiles/images/none/*
!media/infrastructure/data_standards/documents/profiles/images/none/default.svg
!media/infrastructure/data_standards/documents/applications
media/infrastructure/data_standards/documents/applications/*
!media/infrastructure/data_standards/documents/applications/images
media/infrastructure/data_standards/documents/applications/images/*
!media/infrastructure/data_standards/documents/applications/images/none
media/infrastructure/data_standards/documents/applications/images/none/*
!media/infrastructure/data_standards/documents/applications/images/none/default.svg
!media/infrastructure/data_standards/documents/services
media/infrastructure/data_standards/documents/services/*
!media/infrastructure/data_standards/documents/services/images
media/infrastructure/data_standards/documents/services/images/*
!media/infrastructure/data_standards/documents/services/images/none
media/infrastructure/data_standards/documents/services/images/none/*
!media/infrastructure/data_standards/documents/services/images/none/default.svg
!media/infrastructure/data_exchange_formats
media/infrastructure/data_exchange_formats/*
!media/infrastructure/data_exchange_formats/profiles
media/infrastructure/data_exchange_formats/profiles/*
!media/infrastructure/data_exchange_formats/profiles/images
media/infrastructure/data_exchange_formats/profiles/images/*
!media/infrastructure/data_exchange_formats/profiles/images/none
media/infrastructure/data_exchange_formats/profiles/images/none/*
!media/infrastructure/data_exchange_formats/profiles/images/none/default.svg
!media/infrastructure/data_exchange_formats/documents
media/infrastructure/data_exchange_formats/documents/*
!media/infrastructure/data_exchange_formats/documents/profiles
media/infrastructure/data_exchange_formats/documents/profiles/*
!media/infrastructure/data_exchange_formats/documents/profiles/images
media/infrastructure/data_exchange_formats/documents/profiles/images/*
!media/infrastructure/data_exchange_formats/documents/profiles/images/none
media/infrastructure/data_exchange_formats/documents/profiles/images/none/*
!media/infrastructure/data_exchange_formats/documents/profiles/images/none/default.svg
!media/infrastructure/data_exchange_formats/documents/applications
media/infrastructure/data_exchange_formats/documents/applications/*
!media/infrastructure/data_exchange_formats/documents/applications/images
media/infrastructure/data_exchange_formats/documents/applications/images/*
!media/infrastructure/data_exchange_formats/documents/applications/images/none
media/infrastructure/data_exchange_formats/documents/applications/images/none/*
!media/infrastructure/data_exchange_formats/documents/applications/images/none/default.svg
!media/infrastructure/data_exchange_formats/documents/services
media/infrastructure/data_exchange_formats/documents/services/*
!media/infrastructure/data_exchange_formats/documents/services/images
media/infrastructure/data_exchange_formats/documents/services/images/*
!media/infrastructure/data_exchange_formats/documents/services/images/none
media/infrastructure/data_exchange_formats/documents/services/images/none/*
!media/infrastructure/data_exchange_formats/documents/services/images/none/default.svg
