{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

           <div class="page-header">
                <h1>{{ organization.name }}</h1>
            </div>

          <div class="row">
            <div class="col-md-3">
              <img src="{{organization.image.url}}" width="150" alt="organization logo">
            </div>
            <div class="col-md-9">
              <p>
                <b>Category: </b>
                {{organization.category}}
              </p>
              <p>
                {{organization.description}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Services</h3>
                </div>
                <div class="list-group">
                  {% for service in organization.services.all %}
                      <li class="list-group-item">
                        <img src="{{service.image.url}}" alt="logo">
                        <a href="{% url 'registry:service_edit' pk=service.pk %}">{{ service.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Applications</h3>
                </div>
                <div class="list-group">
                  {% for application in organization.applications.all %}
                      <li class="list-group-item">
                        <img src="{{application.image.url}}" alt="logo">
                        <a href="{% url 'registry:application_edit' pk=application.pk %}">{{ application.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Documentation</h3>
                </div>
                <div class="list-group">
                  {% for document in organization.documents.all %}
                      <li class="list-group-item">
                        <img src="{{document.image.url}}" alt="logo">
                        <a href="{% url 'registry:document_edit' pk=document.pk %}">{{ document.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Contact Points</h3>
                </div>
                <div class="list-group">
                  {% for contact_point in organization.contact_points.all %}
                      <li class="list-group-item">
                        <img src="{{contact_point.image.url}}" alt="logo">
                        <a href="{% url 'registry:contact_point_edit' pk=contact_point.pk %}">{{ contact_point.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
