{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

           <div class="page-header">
                <h1>{{ participant.name }}</h1>
            </div>

          <div class="row">
            <div class="col-md-3">
              <div>
                <img src="{{participant.image.url}}" width="150" alt="participant logo">
              </div>
              {% if subscribed %}
                <button type="button" class="btn btn-default btn-lg toggleSubscription">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  {% trans "Subscribe" %}
                </button>
              {% else %}
                <button type="button" class="btn btn-default btn-lg toggleSubscription">
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                  {% trans "Subscribe" %}
                </button>
              {% endif %}
            </div>
            <div class="col-md-9">
              <p>
                <b>{% trans "Category" %}: </b>
                {{ participant.category.get_name_display }}
              </p>
              <p>
                {{ participant.description }}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Services" %}</h3>
                </div>
                <!-- <div class="panel-body"></div> <ul class="information-panel"></ul>-->
                <div class="list-group">
                  {% for service in participant.services.all %}
                      {% if service.reviewed %}
                        <li class="list-group-item">
                          <p>
                            <img src="{{ service.image.url }}" alt="logo">
                            <a href="{% url 'registry:service_detail' pk=service.pk %}">
                              {{ service.name }}
                            </a>
                            {{ service.description|truncatechars:90 }}
                          </p>
                        </li>
                      {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          {% comment %}
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Applications" %}</h3>
                </div>
                <div class="list-group">
                  {% for application in participant.applications.all %}
                      <li class="list-group-item">
                        <img src="{ {application.image.url }}" alt="logo">
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endcomment %}

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Documentation" %}</h3>
                </div>
                <div class="list-group">
                  {% for document in participant.documents.all %}
                      <li class="list-group-item">
                        <img src="{{ document.image.url }}" alt="logo">
                        <a href="{% url 'registry:participant_document_detail' pk=document.pk %}"> {{ document.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Contact Points" %}</h3>
                </div>
                <div class="list-group">
                  {% for contact_point in participant.contact_points.all %}
                      <li class="list-group-item">
                        <img src="{{contact_point.image.url}}" alt="logo">
                        <a href="{% url 'registry:participant_contact_point_detail' pk=contact_point.pk %}">{{ contact_point.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
