{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">{% trans "Organizations" %}</h1>
        </div>

        {% for participant in participants %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a  href="{% url 'community:participant_detail' participant.pk %}">
                <img class="img-responsive" src="{{participant.image.url}}" width="150" alt="">
              </a>
              <div class="caption">
                <h3>{{participant.name}}</h3>
                <p>{{participant.description|truncatechars:144}}</p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>

{% endblock %}
