{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

           <h1>{% trans "Profile settings" %}</h1>


          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% if form.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                      &times;
              </button>
              {% for field in form %}
                {% if field.errors %}
                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          <form method="POST" class="post-form">
            {% csrf_token %}

            <div class="page-header">
              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>

            {% if not form.instance.organization.pk %}
              <div class="row">
                <a class="btn btn-primary pull-right" role="button" href="{% url 'community:participant_new' %}" role="button">{% trans "Create your organization" %} <span aria-hidden="true">&raquo;</span></a>
              </div>
            {% endif %}
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first_name_id">{% trans "First name" %}</label>
                  <input type="text" name="first_name" class="form-control" id="first_name_id" value="{{ user.first_name }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last_name_id">{% trans "Last name" %}</label>
                  <input type="text" name="last_name" class="form-control" id="last_name_id" value="{{ user.last_name }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email_id">{{ form.email.label }}</label>
                  <input type="text" name="email" class="form-control" id="email_id" value="{{user.email}}" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="notification_frequency_id">{{ form.notification_frequency.label }}</label>
                  {{ form.notification_frequency }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Following Organizations" %}</h3>
                  </div>
                  <!-- <div class="panel-body"></div> <ul class="information-panel"></ul>-->
                  <div class="list-group">
                    {% for organization in form.instance.following_organizations.all %}
                      <li class="list-group-item">
                        <p>
                          <img src="{{ organization.image.url }}" alt="logo">
                          <a href="{% url 'community:participant_detail' pk=organization.pk %}">
                            {{ organization.name }}
                          </a>
                          {{ organization.description|truncatechars:90 }}
                        </p>
                      </li>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Following Services" %}</h3>
                  </div>
                  <!-- <div class="panel-body"></div> <ul class="information-panel"></ul>-->
                  <div class="list-group">
                    {% for service in form.instance.following_services.all %}
                        <li class="list-group-item">
                          <p>
                            <img src="{{ service.image.url }}" alt="logo">
                            <a href="{% url 'registry:service_detail' pk=service.pk %}">
                              {{ service.name }}
                            </a>
                            {{ service.description|truncatechars:90 }}
                          </p>
                        </li>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary pull-right" name="submit" type="submit">{% trans "Save" %}</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
