{% extends "registry/base.html" %}

{% block body %}

    <div class="container">


      <form class="form-signin" action="{% url 'community:register' %}" method="post">
        {% csrf_token %}

        {% if messages %}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                    &times;
            </button>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </div>
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="form-signin-heading">Register</h2>

        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.organization }}
        {{ form.role }}
        {{ form.note }}

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Register</button>

      </form>
    </div>

{% endblock %}
