{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="page-header">
            <h1>{% trans "Subscriptions settings" %}</h1>
          </div>

          <form method="POST" class="post-form">
            {% csrf_token %}

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <h2>{% trans "Regions" %}</h2>
                        <ul class="list-unstyled">
                          {% for region, subscribed in regions %}
                              {% if subscribed %}
                                  <li>
                                    <label><input type="checkbox" name="{{ region.name }}" value="1" checked="checked"> {{region.name}}</label>
                                  </li>
                              {% else %}
                                  <li>
                                    <label><input type="checkbox" name="{{ region.name }}" value="0"> {{region.name}}</label>
                                  </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <h2>{% trans "ATM Data" %}</h2>
                        <ul class="list-unstyled">
                          {% for item, subscribed in data %}
                              {% if subscribed %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="1" checked="checked"> {{item.name}}</label>
                                  </li>
                              {% else %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="0"> {{item.name}}</label>
                                  </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
                     </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <h2>{% trans "Flight Phases" %}</h2>
                        <ul class="list-unstyled">
                          {% for item, subscribed in flight_phases %}
                              {% if subscribed %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="1" checked="checked"> {{item.name}}</label>
                                  </li>
                              {% else %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="0"> {{item.name}}</label>
                                  </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <h2>{% trans "Stakeholders" %}</h2>
                        <ul class="list-unstyled">
                          {% for item, subscribed in stakeholders %}
                              {% if subscribed %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="1" checked="checked"> {{item.name}}</label>
                                  </li>
                              {% else %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="0"> {{item.name}}</label>
                                  </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
                     </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <h2>{% trans "Content Types" %}</h2>
                        <ul class="list-unstyled">
                          {% for item, subscribed in content_types %}
                              {% if subscribed %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="1" checked="checked"> {{item.name}}</label>
                                  </li>
                              {% else %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="0"> {{item.name}}</label>
                                  </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <h2>{% trans "ATM Activities" %}</h2>
                        <ul class="list-unstyled">
                          {% for item, subscribed in activities %}
                              {% if subscribed %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="1" checked="checked"> {{ item.name }}</label>
                                  </li>
                              {% else %}
                                  <li>
                                    <label><input type="checkbox" name="{{ item.name }}" value="0"> {{ item.name }}</label>
                                  </li>
                              {% endif %}
                          {% endfor %}
                        </ul>
                     </div>
                  </div>
              </div>
            <button class="btn btn-primary pull-right" name="submit" type="submit">{% trans "Save" %}</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
