{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

           <div class="page-header">
                <h1>{% trans "Document" %}: {{ document.name }}</h1>
            </div>

          <div class="row">
            <div class="col-md-3">
              <img src="{{document.image.url}}" width="150" alt="document logo">
            </div>
            <div class="col-md-9">
              {% if document.description %}
                <p>
                  {{document.description}}
                </p>
              {% endif %}

              {% if document.version %}
                <p>
                  <b>{% trans "Version" %}: </b>
                  {{ document.version }}
                </p>
              {% endif %}

              {% if document.external_link %}
                <p>
                  <b>{% trans "External Link" %}: </b>
                  {{ document.external_link|urlize }}
                </p>
              {% endif %}


            </div>
          </div>

          {% if document.document %}
            <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Document" %}</h3>
                </div>
                <div class="list-group">
                  <li class="list-group-item">
                    <p>
                      <a href="{{ document.document.url }}">{{ document.name }}</a>
                    </p>
                  </li>
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

{% endblock %}
