{% extends 'registry/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% for form_instance in formset_end_points %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          <form enctype="multipart/form-data" method="post" class="post-form">
              {% csrf_token %}

              <div class="page-header">
                  <h1>{% trans "End Points" %}</h1>
              </div>

              <ol class="breadcrumb">
                <li>
                   <a href="{% url 'registry:technical_interface_edit' pk=service_pk %}" role="button">{% trans "Back to Technical Interface" %}</a>
                </li>
              </ol>

              {{ formset_end_points.management_form }}
              <div id="formset_end_points">
                  {% for form in formset_end_points.forms %}
                      {{ form | crispy }}
                      <hr>
                  {% endfor %}
              </div>
              <div id="empty_formset_end_points" style="display:none">
                    {{ formset_end_points.empty_form | crispy }}
              </div>

              <button class="btn btn-default pull-right" name="submit" type="submit">{% trans "Save" %}</button>
              <a class="btn btn-primary pull-right"  id="btn_formset_end_points">{% trans "Add End Point" %}</a>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
