{% extends 'registry/base.html' %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% if form_infrastructure_description.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                      &times;
              </button>
              {% for field in form_infrastructure_description %}
                  {% if field.errors %}
                     <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                 {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% for form_instance in formset_bindings %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          {% for form_instance in formset_documents %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          <form enctype="multipart/form-data" method="post" class="post-form">
              {% csrf_token %}

              <div class="page-header">
                  <h1>Infrastructure Description</h1>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-default pull-right" href="{% url 'registry:technical_interface_edit' pk=service_pk %}" role="button">Back to Technical Interface</a>
                </div>
              </div>

              {{ form_infrastructure_description|crispy }}

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Technical Interface Bindings
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{ formset_bindings.management_form }}
                      <div id="formset_technical_interface_bindings">
                          {% for form in formset_bindings.forms %}
                              {{ form | crispy }}
                              <hr>
                          {% endfor %}
                      </div>
                      <div id="empty_formset_technical_interface_bindings" style="display:none">
                            {{ formset_bindings.empty_form | crispy }}
                      </div>
                      <a class="btn btn-default pull-right"  id="btn_formset_technical_interface_bindings">Add Technical Interface Binding</a>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Infrastructure Description Documents
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      {{ formset_documents.management_form }}
                      <div id="formset_documents">
                          {% for form in formset_documents.forms %}
                              {{ form | crispy }}
                              <hr>
                          {% endfor %}
                      </div>
                      <div id="empty_formset_documents" style="display:none">
                            {{ formset_documents.empty_form | crispy }}
                      </div>
                      <a class="btn btn-default pull-right"  id="btn_formset_documents">Add Document</a>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-default pull-right" name="submit" type="submit">Save</button>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
