
{% extends "registry/base_login.html" %}

{% block body %}

    <div class="container">

        <form class="form-signin" role="form" action="{% url 'registry:login' %}" method="post">
            {% csrf_token %}

            {% if form.errors %}
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Please, check out your email and password.
              </div>
            {% endif %}

            <h2 class="form-signin-heading">Please sign in</h2>

            <input type="hidden" name="next" value="{{ next }}" />

            <input type="text" id="id_username" name="username" class="form-control" placeholder="Email" required autofocus>

            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>

            <a href="{% url 'community:register' %}">Register</a>

        </form>

    </div>

{% endblock %}
