{% extends 'registry/base.html' %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}
          <h1 class="page-header">{{ user.profile.organization | title }} Services</h1>

          <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-default pull-right" href="{% url 'community:participant_edit' %}" role="button">Back to Organization</a>
                </div>
              </div>

          <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default pull-right" href="{% url 'registry:service_new' %}" role="button">Create new service</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover">
                {% for service in services %}
                    <tr>
                        <td>
                          <a href="{% url 'registry:service_edit' pk=service.pk  %}">{{ service.name }}</a>
                        </td>
                        <td>
                          {{service.description | truncatechars:100}}
                        </td>
                    </tr>
                {% endfor %}
              </table>
              </ul>
            </div>
          </div>

      </div>
  </div>

{% endblock %}
