{% extends 'registry/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="page-header">
              <h1>{% trans "Reference" %}</h1>
            </div>

            <div class="row">
              <div class="col-md-12">

                {% comment %}

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Reference Documents" %}</h3>
                  </div>
                  <div class="list-group">
                    {% for document in reference_documents %}
                        <li class="list-group-item">
                          <img src="{{ document.image.url }}" alt="logo" width="50">
                          <a href="{% url 'registry:service_document_detail' pk=document.pk %}"> {{ document.name }}</a>
                        </li>
                    {% endfor %}
                  </div>
                </div>

                {% endcomment %}

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Infrastructure Reference Documents" %}</h3>
                  </div>
                  <div class="list-group">
                    {% for document in infrastructure_reference_documents %}
                        <li class="list-group-item">
                          <img src="{{ document.image.url }}" alt="logo" width="50">
                          <a href="{% url 'registry:service_document_detail' pk=document.pk %}"> {{ document.name }}</a>
                        </li>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

{% endblock %}
