{% extends 'registry/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% if form_service.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                      &times;
              </button>
              {% for field in form_service %}
                  {% if field.errors %}
                     <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                 {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% for form_instance in formset_service_document %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                  {% if form_service.instance %}
                      <h1>{{ form_service.instance.name | title }}</h1>
                  {% else %}
                      <h1>{% trans "New Service" %}</h1>
                  {% endif %}
              </div>
            </div>
          </div>

            <ol class="breadcrumb">
              <li>
                  <a href="{% url 'registry:participant_service_list' %}" role="button">{% trans "Back to Services" %}</a>
              </li>
              <li>
                  {% if form_service.instance.pk %}
                      {% if form_service.instance.technical_interface.pk %}
                          <a href="{% url 'registry:technical_interface_edit' pk=form_service.instance.pk %}" role="button">{% trans "Edit Technical Interface" %}</a>

                      {% else %}
                          <a href="{% url 'registry:technical_interface_new' pk=form_service.instance.pk %}" role="button">{% trans "Edit Technical Interface" %}</a>

                      {% endif %}
                  {% endif %}
              </li>
            </ol>

          <div class="row">
            <div class="col-md-12">
              <!-- Button trigger modal -->
              {% if form_service.instance %}
                {% if not form_service.instance.workflow or form_service.instance.workflow.reviewed %}
                  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                    {% trans "Request Service Review" %}
                  </button>
                {% else %}
                  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" disabled>
                    {% trans "Request Service Review" %}
                  </button>
                {% endif %}
              {% endif %}

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">{% trans "Request Service Review" %}</h4>
                    </div>
                    <div class="modal-body">
                      <form action="request-review/" method='POST'>
                        {% csrf_token %}
                        {% comment %}
                          {{ form_review | crispy }}
                        {% endcomment %}
                        <div class="form-group">
                          <label for="description_id">{{ form_review.description.label }}</label>
                          {{ form_review.description }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                          <button type="submit" class="btn btn-primary" name="submit">{% trans "Submit" %}</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

           <form enctype="multipart/form-data" method="POST" class="post-form">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  {% if form_service.instance %}
                      <img src="{{ form_service.instance.image.url }}">
                  {% endif %}
                  {{ form_service.image }}
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label for="name_id">{{ form_service.name.label }}</label>
                  {{ form_service.name }}
                </div>
                <div class="form-group">
                  <label for="description_id">{{ form_service.description.label }}</label>
                  {{ form_service.description }}
                </div>
                <div class="form-group">
                  <label for="version_id">{{ form_service.version.label }}</label>
                  {{ form_service.version }}
                </div>
                <div class="form-group">
                  <label for="version_category_id">{{ form_service.version_category.label }}</label>
                  {{ form_service.version_category }}
                </div>
                <div class="form-group">
                  <label for="implementation_status_id">{{ form_service.implementation_status.label }}</label>
                  {{ form_service.implementation_status }}
                </div>
                <div class="form-group">
                  <label for="implementation_maturity_id">{{ form_service.implementation_maturity.label }}</label>
                  {{ form_service.implementation_maturity }}
                </div>
                <div class="form-group">
                  <label for="registration_status_id">{{ form_service.registration_status.label }}</label>
                  {{ form_service.registration_status }}
                </div>
                <div class="form-group">
                  <label for="data_categories_id">{{ form_service.data_categories.label }}</label>
                  {{ form_service.data_categories }}
                </div>
                <div class="form-group">
                  <label for="activity_categories_id">{{ form_service.activity_categories.label }}</label>
                  {{ form_service.activity_categories }}
                </div>
                <div class="form-group">
                  <label for="stakeholders_id">{{ form_service.stakeholders.label }}</label>
                  {{ form_service.stakeholders }}
                </div>
                <div class="form-group">
                  <label for="regions_id">{{ form_service.regions.label }}</label>
                  {{ form_service.regions }}
                </div>
                <div class="form-group">
                  <label for="flight_phases_id">{{ form_service.flight_phases.label }}</label>
                  {{ form_service.flight_phases }}
                </div>

                <hr>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          {% trans "Service Documents" %}
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        {{ formset_documents.management_form }}
                        <div id="formset_documents">
                            {% for form in formset_documents.forms %}
                                {{ form | crispy }}
                                <hr>
                            {% endfor %}
                        </div>
                        <div id="empty_formset_documents" style="display:none">
                              {{ formset_documents.empty_form | crispy }}
                        </div>
                        <a class="btn btn-default pull-right"  id="btn_formset_documents">{% trans "Add Document" %}</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          {% trans "Contact Points" %}
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        {{ formset_contact_points.management_form }}
                        <div id="formset_contact_points">
                            {% for form in formset_contact_points.forms %}
                                {{ form | crispy }}
                                <hr>
                            {% endfor %}
                        </div>
                        <div id="empty_formset_contact_points" style="display:none">
                              {{ formset_contact_points.empty_form | crispy }}
                        </div>
                        <a class="btn btn-default pull-right"  id="btn_formset_contact_points">{% trans "Add Contact Point" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary pull-right" name="submit" type="submit">{% trans "Save" %}</button>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
