{% extends 'registry/base.html' %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% if form_service.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                      &times;
              </button>
              {% for field in form_service %}
                  {% if field.errors %}
                     <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                 {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% for form_instance in formset_service_document %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          <form method="POST" class="post-form">
            {% csrf_token %}

            <div class="page-header">
                {% if form_service.instance %}
                    <h1>{{ form_service.instance.name | title }}</h1>
                {% else %}
                    <h1>New Service</h1>
                {% endif %}
            </div>

            <a class="btn btn-default pull-right" href="{% url 'registry:organization_service_list' %}" role="button">Back to services list</a>

            <div class="row">
              <div class="col-md-12">
                  {% if form_service.instance.pk %}
                      {% if form_service.instance.technical_interface.pk %}
                          <a class="btn btn-default pull-right" href="{% url 'registry:technical_interface_edit' pk=form_service.instance.pk %}" role="button">Edit Technical Interface</a>

                      {% else %}
                          <a class="btn btn-default pull-right" href="{% url 'registry:technical_interface_new' pk=form_service.instance.pk %}" role="button">Edit Technical Interface</a>

                      {% endif %}
                  {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  {% if form_service.instance %}
                      <img src="{{form_service.instance.image.url}}">
                  {% endif %}
                  {{ form_service.image }}
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label for="name_id">{{ form_service.name.label }}</label>
                  {{ form_service.name }}
                </div>
                <div class="form-group">
                  <label for="description_id">{{ form_service.description.label }}</label>
                  {{ form_service.description }}
                </div>
                <div class="form-group">
                  <label for="version_id">{{ form_service.version.label }}</label>
                  {{ form_service.version }}
                </div>
                <div class="form-group">
                  <label for="version_category_id">{{ form_service.version_category.label }}</label>
                  {{ form_service.version_category }}
                </div>
                <div class="form-group">
                  <label for="implementation_status_id">{{ form_service.implementation_status.label }}</label>
                  {{ form_service.implementation_status }}
                </div>
                <div class="form-group">
                  <label for="implementation_maturity_id">{{ form_service.implementation_maturity.label }}</label>
                  {{ form_service.implementation_maturity }}
                </div>
                <div class="form-group">
                  <label for="registration_status_id">{{ form_service.registration_status.label }}</label>
                  {{ form_service.registration_status }}
                </div>
                <div class="form-group">
                  <label for="data_categories_id">{{ form_service.data_categories.label }}</label>
                  {{ form_service.data_categories }}
                </div>
                <div class="form-group">
                  <label for="activity_categories_id">{{ form_service.activity_categories.label }}</label>
                  {{ form_service.activity_categories }}
                </div>
                <div class="form-group">
                  <label for="stakeholders_id">{{ form_service.stakeholders.label }}</label>
                  {{ form_service.stakeholders }}
                </div>
                <div class="form-group">
                  <label for="regions_id">{{ form_service.regions.label }}</label>
                  {{ form_service.regions }}
                </div>
                <div class="form-group">
                  <label for="flight_phases_id">{{ form_service.flight_phases.label }}</label>
                  {{ form_service.flight_phases }}
                </div>

                <h2>Service Documents</h2>
              {{ formset_documents | crispy }}

              <h2>Contact Points</h2>
              {{ formset_contact_points | crispy }}

              </div>
            </div>
            <button class="btn btn-default pull-right" name="submit" type="submit">Save</button>
          </form>


        </div>
      </div>
    </div>

{% endblock %}
