{% extends 'registry/base.html' %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% if form_service.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                      &times;
              </button>
              {% for field in form_service %}
                  {% if field.errors %}
                     <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                 {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% comment %}

          {% for form_instance in formset_contact_points %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          {% endcomment %}

          <form method="POST" class="post-form">
            {% csrf_token %}

            <div class="page-header">
                <h1>Service</h1>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  {{ form_service.image }}
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label for="name_id">{{ form_service.name.label }}</label>
                  {{ form_service.name }}
                </div>
                <div class="form-group">
                  <label for="version_id">{{ form_service.version.label }}</label>
                  {{ form_service.version }}
                </div>
                <div class="form-group">
                  <label for="version_category_id">{{ form_service.version_category.label }}</label>
                  {{ form_service.version_category }}
                </div>
                <div class="form-group">
                  <label for="implementation_status_id">{{ form_service.implementation_status.label }}</label>
                  {{ form_service.implementation_status }}
                </div>
                <div class="form-group">
                  <label for="implementation_maturity_id">{{ form_service.implementation_maturity.label }}</label>
                  {{ form_service.implementation_maturity }}
                </div>
                <div class="form-group">
                  <label for="registration_status_id">{{ form_service.registration_status.label }}</label>
                  {{ form_service.registration_status }}
                </div>
                <div class="form-group">
                  <label for="data_categories_id">{{ form_service.data_categories.label }}</label>
                  {{ form_service.data_categories }}
                </div>
                <div class="form-group">
                  <label for="activity_categories_id">{{ form_service.activity_categories.label }}</label>
                  {{ form_service.activity_categories }}
                </div>
                <div class="form-group">
                  <label for="stakeholders_id">{{ form_service.stakeholders.label }}</label>
                  {{ form_service.stakeholders }}
                </div>
                <div class="form-group">
                  <label for="regions_id">{{ form_service.regions.label }}</label>
                  {{ form_service.regions }}
                </div>
                <div class="form-group">
                  <label for="flight_phases_id">{{ form_service.flight_phases.label }}</label>
                  {{ form_service.flight_phases }}
                </div>

form_infrastructure_description

formset_infrastructure_description_document
formset_end_point
formset_technical_interface_binding_description

                <h2>Technical Interface</h2>
                <div class="form-group">
                  <label for="technical_interface__description_id">{{ form_technical_interface.description.label }}</label>
                  {{ form_technical_interface.description }}
                </div>
                <div class="form-group">
                  <label for="technical_interface__version_id">{{ form_technical_interface.version.label }}</label>
                  {{ form_technical_interface.version }}
                </div>
                <div class="form-group">
                  <label for="technical_interface__infrastructure_reference_documents_id">{{ form_technical_interface.infrastructure_reference_documents.label }}</label>
                  {{ form_technical_interface.infrastructure_reference_documents }}
                </div>
                <div class="form-group">
                  <label for="technical_interface__data_standards_id">{{ form_technical_interface.data_standards.label }}</label>
                  {{ form_technical_interface.data_standards }}
                </div>
                <div class="form-group">
                  <label for="technical_interface__infrastructure_profile_id">{{ form_technical_interface.infrastructure_profile.label }}</label>
                  {{ form_technical_interface.infrastructure_profile }}
                </div>

                <h3>Technical Interface - Data Exchange Formats</h3>
                {{ formset_data_exchange_format_service.management_form }}
                {% for form_instance in formset_data_exchange_format_service %}
                    {{ form_instance.id }}
                    <div class="form-group">
                      <label for="id_data_exchange_format_services-name">{{ form_instance.name.label }}</label>
                      {{ form_instance.name }}
                    </div>
                    <div class="form-group">
                      <label for="id_data_exchange_format_services-description">{{ form_instance.description.label }}</label>
                      {{ form_instance.description }}
                    </div>
                    <div class="form-group">
                      <label for="id_data_exchange_format_services-version">{{ form_instance.version.label }}</label>
                      {{ form_instance.version }}
                    </div>
                    <div class="form-group">
                      <label for="id_data_exchange_format_services-infrastructure_reference_documents">{{ form_instance.infrastructure_reference_documents.label }}</label>
                      {{ form_instance.infrastructure_reference_documents }}
                    </div>

                    {% if not forloop.last %}
                        <hr>
                    {% endif %}

                {% endfor %}

                <h3>Technical Interface - Service Documents</h3>
                {{ formset_service_document.management_form }}
                {% for form_instance in formset_service_document %}
                    {{ form_instance.id }}
                    <div class="form-group">
                      <label for="id_service_document-name">{{ form_instance.name.label }}</label>
                      {{ form_instance.name }}
                    </div>
                    <div class="form-group">
                      <label for="id_service_document-description">{{ form_instance.description.label }}</label>
                      {{ form_instance.description }}
                    </div>
                    <div class="form-group">
                      <label for="id_service_document-version">{{ form_instance.version.label }}</label>
                      {{ form_instance.version }}
                    </div>

                    {% if not forloop.last %}
                        <hr>
                    {% endif %}

                {% endfor %}


              </div>
            </div>
            <button class="btn btn-default pull-right" name="submit" type="submit">Save</button>
          </form>


        </div>
      </div>
    </div>

{% endblock %}
