{% extends 'registry/base.html' %}
{% load i18n %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

           <div class="page-header">
                <h1>{{ service.name }}</h1>
            </div>

          <div class="row">
            <div class="col-md-3">
              <img src="{{service.image.url}}" width="150" alt="service logo">
            </div>
            <div class="col-md-5">
            {% if service.version %}
              <p>
                <b>{% trans "Version" %}: </b>
                {{service.version}}
              </p>
            {% endif %}
            <p>
              <b>{% trans "Organization" %}: </b>
              {{service.organization.name}}
            </p>
            <p>
              <b>{% trans "Implementation status" %}: </b>
              {{service.implementation_status.get_name_display}}
            </p>
            <p>
              <b>{% trans "Implementation maturity" %}: </b>
              {{service.implementation_maturity.get_name_display}}
            </p>
            <p>
              <b>{% trans "Version category" %}: </b>
              {{service.version_category.get_name_display}}
            </p>
            <p>
              <b>{% trans "Registration status" %}: </b>
              {{service.registration_status.get_name_display}}
            </p>
            </div>
            <div class="col-md-4">
              <p>
                  <ul class="list-unstyled">
                      <b>{% trans "ATM activity categories" %}:</b>
                      {% for each in service.activity_categories.all %}
                          <li>{{ each.get_name_display }}</li>
                      {% endfor %}
                  </ul>
              </p>
              <p>
                  <ul class="list-unstyled">
                      <b>{% trans "ATM data categories" %}:</b>
                      {% for each in service.data_categories.all %}
                          <li>{{ each.get_name_display }}</li>
                      {% endfor %}
                  </ul>
              </p>
              <p>
                  <ul class="list-unstyled">
                      <b>{% trans "ATM stakeholders" %}:</b>
                      {% for each in service.stakeholders.all %}
                          <li>{{ each.get_name_display }}</li>
                      {% endfor %}
                  </ul>
              </p>
              <p>
                  <ul class="list-unstyled">
                      <b>{% trans "Regions" %}:</b>
                      {% for each in service.regions.all %}
                          <li>{{ each.get_name_display }}</li>
                      {% endfor %}
                  </ul>
              </p>
              <p>
                  <ul class="list-unstyled">
                      <b>{% trans "ATM flight phases" %}:</b>
                      {% for each in service.flight_phases.all %}
                          <li>{{ each.get_name_display }}</li>
                      {% endfor %}
                  </ul>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal">
                {% trans "Workflow" %}
              </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">{% trans "Workflow History" %}</h4>
                    </div>
                    <div class="modal-body">
                    <table class="table table-striped">
                      <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Old State" %}</th>
                        <th>{% trans "New State" %}</th>
                        <th>{% trans "Author" %}</th>
                        <th>{% trans "Comment" %}</th>
                      </tr>
                      {% for workflow in workflow_history %}
                          <tr>
                            <td>{{ workflow.modified }}</td>
                            <td>{{ workflow.old_state.get_name_display }}</td>
                            <td>{{ workflow.new_state.get_name_display }}</td>
                            <td>{{ workflow.author.full_name }}</td>
                            <td>{{ workflow.description }}</td>
                          </tr>
                      {% endfor %}
                    </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Description" %}</h3>
                </div>
                <div class="panel-body">
                    {{service.description}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Technical Interface" %}</h3>
                </div>
                {% if service.technical_interface %}
                  <div class="list-group">
                    <li class="list-group-item">
                      <img src="{{service.technical_interface.image.url}}" alt="logo" width="50">
                      <a href="{% url 'registry:technical_interface_detail' pk=service.pk %}">{% trans "Technical Interface" %}</a>
                      {% if service.technical_interface.description %}
                           <p>{{ service.technical_interface.description|truncatechars:100 }}</p>
                      {% endif %}
                    </li>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Documentation" %}</h3>
                </div>
                <div class="list-group">
                  {% for document in service.documents.all %}
                      <li class="list-group-item">
                        <img src="{{document.image.url}}" alt="logo" width="50">
                        <a href="{% url 'registry:service_document_detail' pk=document.pk %}"> {{ document.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{% trans "Contact Points" %}</h3>
                </div>
                <div class="list-group">
                  {% for contact_point in service.contact_points.all %}
                      <li class="list-group-item">
                        <img src="{{contact_point.image.url}}" alt="logo" width="50">
                        <a href="{% url 'registry:service_contact_point_detail' pk=contact_point.pk %}">{{ contact_point.name }}</a>
                      </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
