{% extends 'registry/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block container %}
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% if messages %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                        &times;
                </button>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
          {% endif %}

          {% if form_technical_interface.errors %}
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                      &times;
              </button>
              {% for field in form_technical_interface %}
                  {% if field.errors %}
                     <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                 {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% for form_instance in formset_documents %}
              {% if form_instance.errors %}
                <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss='alert' aria-hidden='true'>
                          &times;
                  </button>
                  {% for field in form_instance %}
                      {% if field.errors %}
                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                     {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}

          <form enctype = "multipart/form-data" method="post" class="post-form">
              {% csrf_token %}

              <div class="page-header">
                  <h1>{% trans "Technical Interface" %}</h1>
              </div>

              <ol class="breadcrumb">
                <li>
                  <a href="{% url 'registry:service_edit' pk=service_pk %}" role="button">{% trans "Back to Service" %}</a>
                </li>
                {% if form_technical_interface.instance.pk %}
                    <li>
                       {% if form_technical_interface.instance.infrastructure_description.pk %}
                            <a href="{% url 'registry:infrastructure_description_edit' pk=form_technical_interface.instance.pk %}" role="button">{% trans "Edit Infrastructure Description" %}</a>

                        {% else %}
                            <a href="{% url 'registry:infrastructure_description_new' pk=form_technical_interface.instance.pk %}" role="button">{% trans "Edit Infrastructure Description" %}</a>

                        {% endif %}
                    </li>

                    <li>
                        <a href="{% url 'registry:data_exchange_formats_edit' pk=form_technical_interface.instance.pk %}" role="button">{% trans "Edit Data Exchange Formats" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'registry:end_points_edit' pk=form_technical_interface.instance.pk %}" role="button">{% trans "Edit End Points" %}</a>
                    </li>
                {% endif %}
              </ol>

              <div class="row">
                <div class="col-md-12">
                  {{ form_technical_interface | crispy }}
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-md-12">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              {% trans "Technical Interface Documents" %}
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            {{ formset_documents.management_form }}
                            <div id="formset_documents">
                                {% for form in formset_documents.forms %}
                                    {{ form | crispy }}
                                    <hr>
                                {% endfor %}
                            </div>
                            <div id="empty_formset_documents" style="display:none">
                                  {{ formset_documents.empty_form | crispy }}
                            </div>
                            <a class="btn btn-default pull-right"  id="btn_formset_documents">{% trans "Add Document" %}</a>
                          </div>
                        </div>
                      </div>
                  </div>

                </div>
              </div>


              <button class="btn btn-primary pull-right" name="submit" type="submit">{% trans "Save" %}</button>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
