{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>{% trans 'SWIM Registry Brazil' %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</link></link></link></link></link></link></meta></meta></meta></meta></meta></head>
<body id="page-top">
    <nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{% trans 'SWIM Registry Brazil' %}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">{% trans 'About' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{% trans 'Services' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#organizations">{% trans 'Organizations' %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% trans 'Contact' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'registry:login' %}">{% trans 'Login' %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">{% trans 'SWIM Registry Brazil' %}</h1>
                <hr>
                <!--<p>An initiative of TransLab in partnership with Boeing.</p>-->
                <p>{% trans 'An initiative of Translab in University of Brasília.' %}</p>
                <a class="btn btn-primary btn-xl page-scroll" href="#about">{% trans 'Find Out More' %}</a>
            </hr></div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans 'About' %}</h2>
                    <hr class="light">
                    <p class="text-faded">{% trans 'System-Wide Information Management (SWIM) consists of standards, infrastructure and governance enabling the management of air traffic related information and its exchange between qualified parties via interoperable services.' %}</p>
                    <p class="text-faded">{% trans 'SWIM Registry Brazil will serve as the general repository to SWIM-related services in Brazil. Here you will find out all the information necessary to discover and access the list of services available in SWIM Brazil.' %}</p>
                    <!--<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started</a>-->
                </hr></div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans 'Services' %}</h2>
                    <hr class="primary">
                </hr></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart text-primary sr-icons"></i>
                        <h3>{% trans 'Aeronautical' %}</h3>
                        <p class="text-muted">{% trans 'Aeronautical information assembled, analyzed and formatted.' %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-plane text-primary sr-icons"></i>
                        <h3>{% trans 'Flight trajectory' %}</h3>
                        <p class="text-muted">{% trans 'The detailed route of the aircraft defined in four dimensions 4D (with the time component included).' %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bolt text-primary sr-icons"></i>
                        <h3>{% trans 'Meteorological' %}</h3>
                        <p class="text-muted">{% trans "Information on the state of earth's atmosphere for air traffic control." %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                        <h3>{% trans 'Other services' %}</h3>
                        <p class="text-muted">{% trans 'Aerodrome operations, Surveillance, Environment, and other aspects related to air traffic management.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside id="organizations">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans 'Organizations' %}</h2>
                    <hr class="primary">
                    <p>{% trans 'TransLab is a Centre of Excellence for Research and Development of Computational Models applied to Air Transportation in the Department of Computer Science, University of Brasilia (UnB), Brazil. The mission of TransLab is to incorporate technology into society, especially, air transportation and informatics application.' %}</p>
                </hr></div>
            </div>
        </div>
        <div class="container">
            <div class="row logos">
                <div class="col-md-offset-4 col-md-4 col-sm-12">
                    <a href="#">
                        <img alt="" class="img-responsive" src="{% static 'img/logos/unb-gray.png' %}">
                    </img></a>
                </div>
<!--<div class="col-md-offset-2 col-md-5 col-sm-6">
                <a href="#">
                    <img src="{% static 'img/logos/unb-gray.png' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-5 col-sm-6">
                <a href="#">
                    <img src="{% static 'img/logos/boeing-gray.png' %}" class="img-responsive img-centered" alt="">
                </a>
            </div> -->
        </div>
    </div>
</aside>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{% trans 'Register to have access to the available services' %}</h2>
            <a class="btn btn-default btn-xl sr-button" href="{% url 'community:register' %}">{% trans 'Register' %}</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{% trans 'Contact us' %}</h2>
                <hr class="primary">
                <p>{% trans 'Suggestions? Give us a call or send us an email and we will get back to you as soon as possible.' %}</p>
            </hr></div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>{% trans '+55 61-3107-3679' %}</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:translab@unb.br">{% trans 'translab@unb.br' %}</a></p>
            </div>
        </div>
    </div>
</section>
<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Theme JavaScript -->
<script src="{% static 'js/creative.min.js' %}"></script>
</body>
</html>
